
.container{
    width: 1280px;
}
.main-navigation{
    display: flex;
    background-color: #35444F;;
}
.main-menu{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
     padding-left: 160px;
    /* padding-right: 132px;  */
    background-color: #35444F;
    height: 69px;
}
.main-menu-link-2:hover{
    background-color: #F60D0D;
}
.accent{
color: #4BCAFF;
font-family: sans-serif;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main-menu-link{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-left: 1px groove #ffffff;
    border-right: 1px groove  #ffffff;
    padding: 36px;
}
.page-title{
color: #000;
text-align: left;
font-family: sans-serif;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self:flex-end;


}
.main-menu-link-2{
    background-color: #222F3A;
    padding: 50px;
    border: none;
    padding:36px;
} 
.information-page{
    display: flex;
    margin-top: 49px;
}
.left-menu-border{
    width: 344px;
    height: 399px;  
    /* flex: 0 0 344px; */
}
.left-conteiner-menu{
    width: 344px;
    height: 399px;
 border: 1px solid #000;
 display: flex;
 /* align-items: flex-start; */
  
}
.border{
    width: 100%;
    margin: 25px;
    /* padding-left: 44px; */
}
.left-menu{
    width: 100%;
    padding-left: 0;
}
.left-menu-item{
    display: flex;
    flex-direction: column;

    width: 100%;
}
.left-menu-link{
    color: #485863;
    font-family: sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 100% */
    text-decoration: none;
    flex-grow: 1;


}
.left-menu-link-2{
    border: 1px #ffffff;
}
.left-menu-link-2:hover{
    background-color: #F60D0D;
}
.img-amd-text{
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 885px;
padding-left: 52px;
}
.conteiner-img{
    width: 885px;
    height: 529px;
    border: 1px solid #4BCAFF;
}
.title-logo{
    width: 320px;
    height: 381px;
    margin: 75px 268px;
}
.conteiner-text{
    padding-top: 37px;
    width: 885px;
}
.text-page{
 color: #2C2C2C;
 font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.footer{
    padding-top: 54px;
}
.footer-menu{
    display: flex;
    list-style: none;
    /* justify-content: flex-end; */
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    text-align: center;
    height: 69px;
}
.footer-conteiner{
    height: 70px;
    width: 1280px;
    position: absolute;
    top: 1210px;
    background-color: #c6c6c6 ;
}
.footer-menu-link{
 color: #0C1927;
 font-family: sans-serif;
font-size: 28px;
 font-style: normal;
 font-weight: 400;
 line-height: 28px;
text-decoration: none;
padding: 15px;
}
.element{
    align-self: flex-end;
    margin-left: auto;
    color: #010101;
font-family: sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px;
padding-right: 40px;
}
.footer-menu-link-2{
    color: #3181A6;
    font-family: sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;
}
.footer-menu-link-2:hover{
    background-color: #F60D0D;
}
